<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div *ngIf="currentUser">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </div>
    <h1 style="margin-left: 20px;">MyApp</h1>
    <span class="menu-spacer"></span>
    <div class="btn-align" *ngIf="!currentUser">
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Register</button>
    </div>
    <div class="btn-align" *ngIf="currentUser">
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-list-item>
        <a mat-list-item routerLink="/home"> Users List </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/task"> Tasks </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item (click)="openBottomSheet()"> Import Users </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item (click)="openDialog()"> Create Task </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
