<h2 mat-dialog-title>Create Task</h2>

<div style="margin-right: 20px;">
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Task Id</mat-label>
        <input matInput placeholder="Enter Id" formControlName="id" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="Machine Learning">Machine Learning</mat-option>
          <mat-option value="Deep Learning">Deep Learning</mat-option>
          <mat-option value="Full Stack">Full Stack</mat-option>
          <mat-option value="Native App">Native App</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Closed">Closed</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a start date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a end date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="endDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="desc"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="submit()"
  >
    Submit
  </button>
</mat-dialog-actions>
