<div class="div-card" >
  <mat-card class="align">
    <mat-card-header>
      <mat-card-title>
        Login
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" >
            <ng-template matStepLabel>Fill out your email</ng-template>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="abc@abc.com"
                formControlName="email"
              />
            </mat-form-field>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your password</ng-template>
            <mat-form-field>
              <mat-label>Your Password</mat-label>
              <input matInput formControlName="password" placeholder="******" />
            </mat-form-field>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            <button mat-raised-button color="primary" (click)="onSubmit()">
              Login
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
