.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.div-form {
  height: auto;
  width: 100vw;
  padding-top: 100px;
}
.align {
  height: auto;
  width: 700px;
  margin: auto;
  position: relative;
  box-shadow: 0px 0px 10px 2px #818181;
}
